{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "custom"
      }
    ]
  ],
  "debug": true,
  "dryRun": false,
  "ci": false
}
